<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ru.evotor.permission.RECEIPT_DISCOUNT_REQUIRED_EVENT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExampleReceiptDiscountService"
        tools:targetApi="31">
        <meta-data
            android:name="app_uuid"
            android:value="insert-your-uuid-here" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ExampleReceiptDiscountService">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".services.ReceiptEventService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="evo.v2.receipt.sell.receiptDiscountRequiredEvent" />
            </intent-filter>
        </service>

        <service
            android:name=".services.PaymentScreenService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_receipt"
            android:label="Чек">
            <meta-data
                android:name="ru.evotor.sales_screen.BACKGROUND_COLOR"
                android:value="#E91E63" />
            <intent-filter>
                <action android:name="evo.v2.receipt.sell.receiptDiscount" />
            </intent-filter>
        </service>

    </application>

</manifest>